// palette colors definition
$primary-color: #FF0049;
$secondary-color: #002B45;
$terciary-color: #FFF1E5;
$accent-color: #40C3DF;
$background-color: #cbd5da;
$white: #FFFFFF;
$black: #000000;
$gray: #CCD5DA;
$success: green;
$error: red;
$inactive: #758f9b;

// spaces definition
$space: 5px;

// sizes definition
$size-sm: 600px;
$size-md: 960px;
$size-lg: 1280px;
$size-xl: 1920px;