@import '../../../../styles/base.scss';

.password-container {
  display: flex;
  flex-direction: row;
  margin-top: ($space * 4);
}

.input {
  margin-left: ($space * 2);
}

@media only screen and (max-width: $size-sm) {
  .password-container {
    flex-direction: column;
  }
}
