@import '../../../styles/base.scss';

.container {
  text-align: center;
}

.box {
  margin-top: ($space * 4);

  & h2 {
    margin-left: $space * 2;
  }
}

.success {
  color: $success;
}

.error {
  color: $error;
}
