@import '../../../styles/base.scss';

.wizard-main {
  display: flex;
  flex-direction: column;
  max-width: $size-lg;
  width: 90%;
  margin: 4rem auto 0;
  border-radius: $space;
  box-shadow: 0px -1px 5px 0px rgba(123, 123, 123, 0.75);
  overflow: hidden;
  background-color: $white;
}
