@import '../../../../styles/base.scss';

.input-container {
  width: 100%;
  & svg {
    position: absolute;
  }

  & label {
    color: $secondary-color;
    font-weight: bold;
  }

  & div {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    margin-bottom: ($space * 3);
    margin-top: $space;
    & .icon {
      padding: $space * 3;
      background: $secondary-color;
      color: $white;
      width: 20px;
    }

    & .input-field {
      width: 100%;
      padding: $space * 3;
      outline: none;
    }

    & .error {
      border: 1px solid $error;
    }
  }

  & span.error {
    color: $error;
  }
}
